$col_text: #282828;
$col_highlight: #5cbde0;
$font_main_text: Open Sans, sans-serif;
$font_headers: Raleway, sans-serif;
$tabletMode: 786px;

.pull-right{
  display: none;
}

body{
  margin: 0;
  padding: 0;
}

// ************ home page posts ************** //

.post-img{
  width: 100%;
  height: 218px;
  background-size: 100% !important;
  margin: 0 -15px;
}
.delete{
  position: absolute;
  right: 50px;
  top: -12px;
  font-size: 45px;
  z-index: 99;

  i.fa-times-circle{
    background-color: wheat;
    border: #F7E891 1px solid;
  }
}
.huge .post-img{
  height: 436px;
  background-size: 230% !important;
}

.post-holder{
  a{
    background-color: transparent !important;
    color: white !important;
    margin: 30px;
    position: absolute;
    z-index: 99;

  }
  .post-img{
    z-index: 1;
    &:hover{
      opacity: .5;
    }
  }
}

// home main img
img.header-img{
  -webkit-filter: blur(5px) brightness(0.5);
  -moz-filter: blur(5px) brightness(0.5);
  -o-filter: blur(5px) brightness(0.5);
  -ms-filter: blur(5px) brightness(0.5);
}
.only-on-home.basic #site-title a {
  @media only screen and (min-width: $tabletMode)  {
    font-size: 80px !important;
  }
  font-size: 30px !important;

}
.element-item {
  height: 233px;
  width: 350px;
  overflow: hidden;
}
.full-width .site-content .has-post-thumbnail .entry-header,.full-width.singular .site-content .hentry.has-post-thumbnail {
  margin-top: -48px;
  padding: 0 65px;
}



#secondary{
  background-color: rgba(0,0,0,0.8) !important;
}

/* filters */
.container {
  max-width: 100% !important;
  width: 100% !important;
  margin: 0 auto;
}

.filter-box{
  background-color: white;

  .btn-default {
    color: #333333;
    background-color: white;
    border-color: black;
  }
  h2{
    color: white;
    font-size: 8em;
    text-align: center;
  }
}
#posts-filter{
  width: 273px;

  margin: 0  auto;

}
/* isotope items */
#isotope{
  background-color: seagreen;
}
.item {

  background: black ;
  height: 218px;
  padding: 0 !important;
  margin: 0 !important;
  float: left;
  z-index: 2;
  img{
    width: 100%;
  }
}
.item.w2 {
  width: 50%;
}


.isotopeX{
  z-index: 1;
}
.huge{
  // height: 436px;
}

.huge img{
  width:900px;

}
.size-large{
  float: left;
}
.basic{
  .entry-title {
    font-size: 52px !important;
    margin: 30px 0;
  }
}
// ************ flip  ************** //
/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}
/* flip the pane when hovered */
//.flip-container:hover .flipper, .flip-container.hover .flipper {
//  transform: rotateY(180deg);
//}
.flip-r{
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  min-width: 320px;
  min-height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);

}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background: yellowgreen;

  .delete{
    position: absolute;
    right: 10px;
    top: -12px;
    font-size: 45px
  }
}
// ************ Blog Posts ************** //

body.single-post{
  .wp-caption {
    background: none;
    border: 0px solid #e6e6e6;
    max-width: 100%;
    padding: 0px;
    text-align: center;

    .wp-caption-text{
      display:  none;
    }
  }
  .container {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 auto;
    @media only screen and (min-width: $tabletMode)  {
      margin: 0 30px;

    }

  }

  #mainpopup{
    cursor: url(../library/images/minus.png), auto;
    img{
      width: 100%;
    }
  }
  .comment-form-email, .comment-form-author, .comment-form-url{
    float: left;
    margin: 10px 20px 30px 0;
  }
  .image-anchor{
    width: 500px;
    float: left;
    margin: 0 0px 0 0;
    position: relative;
  }
  .comment-form-comment{
    float: none;
    clear: both;
  }

  .title-card-wrapper {
    overflow: hidden;
    display: none;
  }
  .comments-area {
    margin: 0 !important;
    max-width: 100%;
    padding: 0 10px;
  }

  .entry-content {


    .gall{
      position: inherit;
      left: 0;
      overflow: hidden;
      height: 400px;
      min-height: 285px;
      img{
        cursor: url(../library/images/slide.png), auto;

      }
    }
    .template{
      position: absolute;
      opacity: 0;
      top: 110px;
      width: 100px;
      height: 50px;
      text-align: center;
      font-size: 22px;
      letter-spacing: 1px;
      display: inline;
      font-style: italic;
      z-index: 99;
      color: black;
      font-family: Raleway, sans-serif;
    }

    .enlargeBtn{
      display: inline-block;
      background: url("../library/images/mag.png") no-repeat;
      background-size: 50px 50px;
      width: 50px;
      height: 50px;
      margin: -10px 10px 0;
    }
    .image-anchor{
      //width: $screen-xs;
      width: 270px !important;
      //        @include breakpoint(tablet){
      //          width: 420px !important;
      //        }

      @media only screen and (min-width: $tabletMode)  {
        width: 420px !important;
      }

      img{

        position: static;
        width: auto;
        height:  auto;
      }
    }


  }
}
/////////
// items flip
////////

.inner-back{
  padding: 20px;
  p{
    font-weight: lighter;

  }
  b{
    font-size: 18x;
  }
}

.metal{
  width:100px;
  float: left;
  background-color: yellow;
}