////////////////////////////////////////////////////////////
// layout breakpoints, spacing, gutters
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
// layout breakpoints, spacing, gutters
////////////////////////////////////////////////////////////
// Rhythm spacing, use this for all margin/padding
$spacing: 20px;

// Container gutter
$gutterMobile: 30px; //(20px per column + sides) need to use fluid value
$gutterTablet-p: 30px; //(24px per column + sides) neeed to use fluid value
$gutterTablet-l: 30px;
$gutterDesktop: 30px;

//layout-mobile [mobile portrait/landscape]
$layout-mobile-max: 639px;
$layout-mobile-min: 320px;
$layout-mobile-width: 100%;
$layout-mobile-columns: 4;
$layout-mobile-gutter: $gutterMobile;

//layout-tablet-p [tablet portrait]
$layout-tablet-p-min: 640px;
$layout-tablet-p-max: 767px;
$layout-tablet-p-width: 100%;
$layout-tablet-p-columns: 6;
$layout-tablet-p-gutter: $gutterTablet-p;

//layout-tablet-l [tablet landscape]
$layout-tablet-l-min: 768px;
$layout-tablet-l-max: 989px;
$layout-tablet-l-width: 718px;
$layout-tablet-l-columns: 6;
$layout-tablet-l-gutter: $gutterTablet-l;

//layout-desktop [desktop]
$layout-desktop-min: 990px;
$layout-desktop-width: 940px;
$layout-desktop-columns: 12;
$layout-desktop-gutter: $gutterDesktop;

//Paths
$img:'../img/';
$svg:'../images/svg';

//Menu ul widths
$menu_dsktp: 944px;
$menu_tblt: 683px;

//** center widths of menu and image slider
$center-xs: 320px;
$center-sm: 708px;
$center-lg: 990px;
